<div local-class="gallery-container">
    <div local-class="gallery">
        {{#each gallery as |image|}}
            <div local-class="gallery-image" {{on 'click' (fn this.toggleModal image.src true)}}>
                <img src={{image.src}} alt="#">
                <div local-class="gallery-image-overlay">
                </div>
            </div>
        {{/each}}
    </div>
</div>

<BsModal @open={{this.modal}} @size="lg" @onHide={{action this.toggleModal '' false}}>
    <img local-class="modal-image" src={{this.clickedImageSrc}} alt="">
</BsModal>
